h1{
	margin-top: 120px;
   font-size: 3em;
}
.body{
   overflow-x: hidden;
}

.row{
   flex-direction:row ;
}

.container{
   align-content: center;
   width:100vw;
}

.thumb .character{
   color: white;
}
.thumb {
	padding: 10px;
}
