
.head{
 font-size: 6em;
}

h5{
	margin-top: -30px;
}



.news{
	width: 36%;
}

@media screen and (min-width: 880px) {

}


@media screen and (max-width: 880px) {
	.head{
		font-size: 3em;
	   }
	
.banner img{
	height: 300px;
}

	.news{
		width: 66%;
		margin-top: 50px;
	}
}