
.head{
 font-size: 6em;
}

h5{
	margin-top: -30px;
	text-align: center;
}

p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 80px;
    margin-inline-end: 100px;
	padding: 0;
    border: 0;
    outline: 0;
	text-align: justify;

}

.fig{
	text-align: center;
}

@media screen and (max-width: 1000px) {

	.about{
		width:70% ;
	}
	.fig{
	height:500px;
	}
}

@media screen and (max-width: 880px) {
	h5,p {
		margin-inline-start: 80px;
		margin-inline-end: 100px;
	}

}
