
.head{
 font-size: 6em;
}

h5{
	margin-top: -30px;
}

p {
    display: block;
    margin-inline-start: 980px;
    margin-inline-end: 100px;
	padding: 0;
    border: 0;
    outline: 0;
	text-align: justify;

}

.news{
	width: 36%;

}

@media screen and (min-width: 1000px) {

	.news{
		width: 36%;
		margin-left: 40px;
		margin-top: -50px;
	}
}

@media screen and (max-width: 880px) {
	.head{
		font-size: 3em;
	   }
	h5,p {
		margin-inline-start: 80px;
		margin-inline-end: 100px;
	}

	.news{
		width: 66%;
		margin-top: 50px;
	}

	.fig{
		text-align: center;
	}
}